<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae error laboriosam dignissimos, ex quam, ducimus pariatur ad, laborum suscipit exercitationem porro nisi necessitatibus, aliquam dolorem ipsa fugit beatae! Facere, cupiditate.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nemo sapiente, officiis blanditiis recusandae. Placeat, hic dolorem veritatis officia nam ex, amet omnis animi velit pariatur, expedita perferendis nihil veniam.</p>

<%= link_to 'Home', root_path %>